@model IEnumerable<ProductManager.Models.ProductOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    
    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderName)
    </th>



    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderDeliveryDeadlineDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderDeliveryDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.QuantityOrdered)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.QuantityDeliverded)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderValue)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Orders.OrderStatus)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderDeliveryDeadlineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.QuantityOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.QuantityDeliverded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orders.OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductOrderId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductOrderId })
        </td>
    </tr>
}

</table>
