@model ProductManager.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductsDescryption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductsDescryption)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.ProductHeight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductHeight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductWidth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductWidth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @if (Model.FilePaths.Any(f => f.FileType == FileType.Photo))
        {
            <img src="~/images/@Model.FilePaths.First(f => f.FileType == FileType.Photo).FileName" alt="" />

        }
    </div>


</div>
<p>
    @Html.ActionLink("Edytuj produkt", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
